################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
*.swp
*.suo
*.user
*.userosscache
*.editorconfig
[Dd]ebug/
[Rr]elease/
[Rr]eleases/
[Bb]in/
[Oo]bj/
packages/
msbuild.log
msbuild.err
msbuild.wrn
.vs/
archives/
/Web/Web.local.config
/Web/app-log.txt
/AdminApi/app-log.txt
/Web/archives/
/Web/Search/
/Web/File/Register/cd7bd4ac-b23b-4ea9-b9c7-bfcbb429487c
/Web/File/Register/e5de0e51-82ea-454e-b385-02833fbb0ab2/MQP_PaulV_Complete_Final_3.pdf
/SQL/Shop/00_Procedure.sql
/SQL/WebShops/00_Procedure.sql
/Web/WebLocal.config
/AdminApi/WebLocal.config
